
*.xml

*.iml
*.html
sharedbackup/documentation/package-list

\.project

sharedbackup/documentation/script\.js

sharedbackup/documentation/stylesheet\.css

sharedbackup/out/

sharedbackup/src/META-INF/MANIFEST\.MF

sharedbackup/metadata\.ser

sharedbackup/Client/src/META-INF/MANIFEST\.MF

*.MF
